.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 330px;
  position: relative;
  top: -23px;
}
.navbar{
  background-color: white;
  text-decoration-color: grey;
  










}
